.background-image{
    background: #161415 url(./images/header-background.jpg) no-repeat top center;
    /* background-size: cover !important;
    -webkit-background-size: cover !important; */
}

/* .transparent{
    background: transparent;
} */